<h2 mat-dialog-title>Ajouter une Session de formation</h2>
<div mat-dialog-content class="  sm:p-6 w-200">
    <form class=" " [formGroup]="psessionForm">
        <div class="flex flex-col w-full ">
            <div class="flex">
                <mat-form-field class="w-4/5 pl-2">
                    <mat-label>Session de Formation</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden sm:flex icon-size-5"
                        [svgIcon]="'heroicons_solid:book open'"></mat-icon>
                    <mat-select [formControlName]="'idSession'" required>
                        <mat-option *ngFor="let sessions of session" [value]="sessions.id">{{sessions.libelle}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>   
        </div>
    </form>

</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!psessionForm.valid">Ajouter</button>
</div>

